
    @font-face {
        font-family: "TT Lakes";
        src: local("TTLakes-Regular"),
        url("fonts/TTLakes-Regular.ttf");
        font-style: normal;
        font-weight: 400;

    }
    @font-face {
        font-family: "TT Lakes";
        src: local("TTLakes-Medium"),
        url("fonts/TTLakes-Medium.ttf");
        font-style: normal;
        font-weight: 500;

    }
    @font-face {
        font-family: "TT Lakes";
        src: local("TTLakes-Bold"),
        url("fonts/TTLakes-Bold.ttf");
        font-style: normal;
        font-weight: 700;
    }
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .body {
        font-family: "TT Lakes", serif;
        width: auto;
        height: 700px;
        background: #F8F8F8;

    }
    .header {
        background: #FFFFFF;
        width: 100%;
    }
    .menu {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 15px 16px;

    }
    .menu__left,
    .menu__right{
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .menu__left {
        justify-content: flex-start;

    }

    .menu__right {
        justify-content: flex-end;
        margin-left: 10px;
    }
    .menu__button:not(:last-child) {
        margin-right: 16px;
    }

    .menu__devider_visible-768 {
        display: none;
    }
    .menu__devider {
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
        margin:  0 20px 0 16px;
    }
    .menu__button_visible-768{
        display: none;
    }


    .menu__button {
        background-color: #FFFFFF;
        border: 0;

    }

    .page {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        background: #F8F8F8;
    }

    .page__header {
        width: 304px;
        height: 40px;
        margin-left: 16px;

    }
    
    .page__group {
        position: relative;
    }
    .page__group::after{
        content: '';
        display: inline-block;
        width: 24px;
        height: 40px;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        position: fixed;
        top: 180px;
        right: 0;
    }
    .page__title {
        font-family: "TT Lakes", serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        margin-left: 16px;
        margin-top: 24px;
        position: relative;
    }

    .page__title::before {
        content: url("picture/main/highlight.svg");
        position: absolute;
        top: 0;
        left: -16px;
        width: 4px;
        height: 100%;

    }
    .page__button_visible-1120 {
        display: none;
    }
    .page__group {
        overflow-y: hidden;
        overflow-x: auto;
        margin-top: 24px;
        justify-content: space-around;
    }

    .page__group::-webkit-scrollbar {
        width: 0;
        height: 0;

    }
    .page__nav {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        list-style: none;
        min-width: max-content;
        height: 45px;
        margin-top: 0;
        margin-left: 16px;
        white-space: nowrap;
        vertical-align: center;
        line-height: 24px;


    }
    .page__link {
        font-family: "TT Lakes", serif;
        color: #7E7E82;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        width: auto;
        margin-right: 20px;
    }

    .page__element_hover {
        padding: 8px 9px 8px 15px;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background: #FFFFFF;
        width: auto;
        height: content-box;
        margin-right: 20px;
        margin-left: 0;
        text-align: center ;
    }

    .page__link_margin {
        margin-right: 0;
    }
    .page__element {
        align-self: center;

    }
    .page__nav:last-child {
        margin-right: 16px;

    }

    .company {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        position: relative;
        flex-direction: column;
    }

    .company__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        vertical-align: top;
        letter-spacing: 0.2px;
        text-align: left;
        flex-wrap: nowrap;
        margin: 24px 16px 16px;
        line-height: 18px;
        min-width: 288px;
        min-height: 110px;
        overflow: hidden;
    }
    .company__paragraph {
        margin: 0;
    }


    .company__more {
        font-family: TT Lakes, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        border: 0;
        padding: 0;
        background: #F8F8F8;
        letter-spacing: -0.2px;
    }



    .company__more::before {
        content: url("picture/main/button_more.svg");
        padding: 12px;
        position: relative;

    }

    .company__plate {
        display: flex;
        width: 320px;
        align-self: flex-end;
        margin: 0 auto;

    }
    .company__image-768_disable-320,
    .company__image-1120_disable-320{
        display: none;
    }

    .company__span {
        display: none;
    }
    .company__image-320_width {
        display: flex;
        align-self: flex-end;

    }

@media (min-width: 768px) {
    .body {
        font-family: "TT Lakes", serif;
        width: auto;
        height: auto;
        background: #F8F8F8;
    }
    .menu {
        position: relative;
        width: auto;
        height: 88px;
        margin-right: 16px;
        padding: 24px;
    }

    .menu__devider_visible-768 {
        display: flex;
    }

    .menu__button_visible-768 {
        display: flex;
    }

    .page__group {
        margin-left: 24px;
        margin-top: 40px;
    }
    /*
    .repaired-brands {
        margin-left: 0;
    }
        */
    .page__title {
        margin-top: 24px;
        margin-left: 24px;
        margin-bottom: 0;
    }
    /*
   .repaired-devices {
       margin-left: 0;
   }
    */
   .page {
       margin-right: 15px;
   }
    .page__title::before {
        content: url("picture/main/highlight.svg");
        position: absolute;
        top: 0;
        left: -24px;
        width: 4px;
        height: 100%;
    }
    .page__group {
        margin-top: 32px;
    }
    .page__group::after {
        top: 190px;
        right: 15px;
    }

    .page__nav {
        margin-left: 0;
    }
    .company {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .company__text {
        min-width: 312px;
        max-height: 180px;
        font-weight: 400;
        line-height: 20px;
        margin-left: 24px;
        margin-bottom: 10px;
        vertical-align: top;
        text-align: left;
        flex-basis: 50%
    }

    .company__span_visible-768 {
        display: flex;

    }

    .company__span_visible-1120 {
        display: none;
    }

    .company__button {
       margin-top: 10px;

    }

    .company__plate {
        flex-basis: 50%;
        min-width: 360px;
        min-height: 260px;
        margin-top: 15px;
    }

    .company__image-320_disable-768 {
        display: none;
    }
    .company__image-768_visible-768 {
        display: flex;
        -webkit-border-top-left-radius: 2%;
        flex-basis: 100%;
        height: auto;
    }
}
    @media (min-width: 1120px){
        .body{
            max-width: 1520px;
            height: 535px;
            position: relative;
        }

        .header {
            display: none;
        }

        .page {
            width: 100%;
            height: auto;
            margin-top: 0;
            margin-left: 0;

        }

        .page__title::before {
            width: 3px;
            top: 0;
        }

        .page__title {
            margin-top: 42px;
            margin-bottom: 8px;
        }


        .page__menu {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .page__div {
            display: flex;
            justify-content: space-between;
            width: auto;
            margin-right: 32px;
        }
        .page__button {
            display: flex;
            font-family: "TT Lakes", serif;
            font-size: 16px;
            font-weight: 500;
            align-items: center ;
            justify-content: space-between;
            height: 40px;
            letter-spacing: -0.2px;
            border: 0;
            align-self: flex-end;
            line-height: 24px;
            background: #F8F8F8;;
            width: 170px;
        }

        .page__repair {
        margin-right: 32px;
        }

        .page__group {
            margin-top: 0;
            flex-wrap: wrap;
            overflow: hidden;
        }
        .page__nav {

            justify-content: space-between;
            min-width: 1032px;
            display: flex;
            height: 82px;
            flex-wrap: wrap;
        }

        .page__element {
            display: flex;
            flex-wrap: wrap;
        }

        .page__element_position-1120 {
            margin-left: 20px;
        }





        .page__span {
            height: 24px;
            padding: 8px 8px 8px 0;
            line-height: 24px;
            letter-spacing: -0.2px;
            font-weight: 500;
        }

        .company {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: nowrap;
        }



        .company__span_visible-1120{
            display: inline;
        }

        .company__span {
            display: inline;
        }
        .company__text {
            flex-wrap: wrap;
            flex-basis: max-content;
            max-height: 220px;
            margin-left: 13px;
            margin-right: 0;
            flex-direction: row;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.2px;
            padding: 0 25px;
        }
        .company__paragraph {
            display: inline;

        }

        .company__button {
            margin-top: 14px;
        }
        .company__image-768_disable-320 {
            display: none;
        }

        .company__image-1120_visible-1120 {
            display: flex;
            -webkit-border-top-left-radius: 2%;
        }
        .company__plate {
            min-width: 532px;
            min-height: 310px;
            padding: 20px 0 ;
            margin-top: 0;
            margin-right: 30px;
        }

    }